
<%= form_for(wish) do |f| %>
  <% if wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :mywish, placeholder: "Napisz o czym marzysz", class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.text_field :reciever, placeholder: "Wpisz odbiorcę Wisha", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Utwórz Wisha", class: 'btn btn-danger' %>
  </div>
<% end %>
