<%= form_for(wish) do |f| %>
  <% if wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :mywish, 'Wpish swojego Wisha' %>
    <%= f.text_field :mywish, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :reciever, 'Wpisz odbiorcę wisha' %>
    <%= f.text_field :reciever, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Utwórz Wisha" %>
  </div>
<% end %>
