<div>
  <h4>Pytanie: <%= querry.question %></h4>
    <% if (@wish.user == current_user) %>
  		<p>Odpowiedź: <%= querry.answer %></p>
	<% end %>
  	  	<p>Tip: <%= querry.tip %></p>

		<% @querry.id = querry.id %>

		<%= form_for [ @wish, @querry, @myanswer ] do |f| %>
		  <p>
		
		    <%= f.label :reply, "Twój strzał:" %><br/>
		    <%= f.text_field :reply %>
		  </p>
		  <p>
		    <%= f.submit 'Strzelaj' %>
		  </p>
		<% end %>
		
<%= render partial: 'querries/myanswer', collection: @querry.myanswers %>		
			
</div>
