<% @querry.id = querry.id %>
<div>
  <h4>Pytanie: <%= querry.question %></h4>
    <% if (@wish.user == current_user) %>
  		<p>Odpowiedź: <%= querry.answer %></p>
		<p>Tip: <%= querry.tip %></p>
	<% else %>	

		<%= form_for [ @wish, @querry, @myanswer ] do |f| %>
		  <p>
		
		    <%= f.label :reply, "Twój strzał:" %><br/>
		    <%= f.text_field :reply %>
		  </p>
		  <p>
		    <%= f.submit 'Strzelaj' %>
		  </p>
		<% end %>

		<% @querry.myanswers.each do |myanswer| %>
		
			<p>Twój strzał: <%= myanswer.reply %></p>

		    <% if (querry.answer == myanswer.reply) %>
				<p>Brawo! Oto twoja wskazówka: <%= querry.tip %></p>
			<% end %>
		<% end %>
	<% end %>
		
<!-- <%= render partial: 'querries/myanswer', collection: @querry.myanswers %> -->
		
	
			
</div>
