<% @querry.id = querry.id %>
<div>
  <h4>Pytanie: <%= querry.question %></h4>
    <% if (@wish.user == current_user) %>
  		<p>Odpowiedź: <%= querry.answer %></p>
		<p>Tip: <%= querry.tip %></p>
	<% else %>	

		<%= form_for [ @wish, @querry, @myanswer ] do |f| %>
		<div class="form-group">  
			<% @myanswer.querry_id = querry.id %>
		
		    <%= f.label :reply, "Twój strzał:"%><br/>
		    <%= f.text_field :reply, class: 'form-control'  %>
		 </div>
		  <p>
		    <%= f.submit 'Strzelaj' %>
		  </p>
		<% end %>

		<% querry.myanswers.reverse.each do |myanswer| %>
		
			

		    <% if (querry.answer.downcase == myanswer.reply.downcase) %>
				<h4>Brawo! Oto twoja wskazówka: <%= querry.tip %></h4>
			<% else %>
				<p>Twój strzał:<%= myanswer.reply %></p>
			<% end %>
		<% end %>
	<% end %>
		
<!-- <%= render partial: 'querries/myanswer', collection: @querry.myanswers %> -->
		
	
			
</div>
