<div>
  <h4>Pytanie: <%= querry.question %></h4>
    <% if (@wish.user == current_user) %>
  		<p>Odpowiedź: <%= querry.answer %></p>
	<% end %>
  	  	<p>Tip: <%= querry.tip %></p>
		<p> querry id:
		<%= querry.id %></p>
		<h3>Twój strzał</h3>
		<p> Tu będzie formularz</p>

		<%= form_for [ @wish, querry, @myanswer ] do |f| %>
		  <p>
		    <%= f.label :reply %><br/>
		    <%= f.text_field :reply %>
		  </p>
		  <p>
		    <%= f.submit 'Submit' %>
		  </p>
		<% end %>
</div>
