<h2><%= link_to "Utwórz Wisha" %></h2>

<%= render 'form', wish: @wish %>

<h2><%= link_to "Lista moich Wishów" %></h2>

<table>
  <thead>
    <tr>
      <th><h4>Mój Wish</h4></th>
	  <th><h4>Odbiorca</h4></th>
	  <th><h4>Status</h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @wishes.each do |wish| %>
      <tr>	
			<% if (wish.user == current_user) %>
				<td><%= link_to wish.mywish, wish, class: "btn btn-danger btn-outline" %></td>
				<td><%= wish.reciever %></td>
				<% if wish.is_done? %>
        			<td style="color: #cb2027;">'Santa was here!</td>
				<% else %>
					<td style="color: #cb2027;">Still waiting for the Santa.</td>
				<% end %>
				<td><%= link_to wish, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<i class="fa fa-trash"></i>
					<% end %>
				</td>	
			<% end %>
      </tr>
    <% end %>
  </tbody>
</table>




