<h1>Dodaj Wish-a</h1>

<%= render 'form', wish: @wish %>



<h2><%= link_to 'Lista moich Wishy', home_wishlist_path %></h2>

<table>
  <thead>
    <tr>
      <th>Twórca</th>
      <th>Mój Wish</th>
	  <th>Odbiorca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
        	<td><%= link_to "Wish from  #{wish.user.name}", wish %></td>
			<% if (wish.user == current_user) %>
				<td><%= link_to wish.mywish, wish %></td>
				<td><%= wish.reciever %></td>
        		<td><%= link_to 'Edytuj', edit_wish_path(wish) %></td>
        		<td><%= link_to 'Usuń', wish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>	
      </tr>
    <% end %>
  </tbody>
</table>


