<p id="notice"><%= notice %></p>


<% if ((@wish.user == current_user) || (@wish.reciever == current_user.name) || (@wish.reciever == current_user.fbname) || (wish.reciever == nil) ) %>

	<% if (@wish.user == current_user) %>
		<p>
  		  <strong>Wish:</strong>
  			<%= @wish.mywish %>
			<%= link_to 'Edit', edit_wish_path(@wish) %>
		</p>
		<% if @wish.querries.size == 0 %>
			<h3>Właśnie powstał tu nowy Wish! Schowaj go pod kilkoma pytaniami, 				żeby 	Mikołaj nie miał zdbyt łatwo.</h3>
		<% else %>
			<h3>Masz <%= @wish.querries.size %> pytania</h3>
		<% end %>
				<%= render partial: 'querries/form' %>
	<% end %>
	
	

	<%= render partial: 'wishes/querry', collection: @wish.querries %>

<% end %>

<%= link_to 'Powrót', wishes_path %>


		  
        	