<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wish.name %>
</p>

<p>
  <strong>Mywish:</strong>
  <%= @wish.mywish %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>


<h3>Pytania</h3>
<%= render partial: 'querries/form' %>

<%= render partial: 'wishes/querry', collection: @wish.querries %>