

<h3>Daj się poznać.</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Imię i Nazwisko", autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Hasło", autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "Potwierdź hasło", autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Zarejestruj" %>
  </div>
<% end %>


