<%= form_for(querry) do |f| %>
  <% if querry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(querry.errors.count, "error") %> prohibited this querry from being saved:</h2>

      <ul>
      <% querry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %>
    <%= f.text_area :question %>
  </div>

  <div class="field">
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>

  <div class="field">
    <%= f.label :tip %>
    <%= f.text_area :tip %>
  </div>

  <div class="field">
    <%= f.label :wish_id %>
    <%= f.number_field :wish_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
