<h3>Dodaj pytanie</h3>

<%= form_for [ @wish, @querry ] do |f| %>
  <p>
    <%= f.label :question, "Twoje pytanie" %><br/>
    <%= f.text_area :question %>
  </p>	  
  	<p>
   	 <%= f.label :answer, "Twoja odpowiedź" %><br/>
   	 <%= f.text_field :answer %>
	</p>

	<p>
   	 <%= f.label :tip, "Zostaw Mikołajowi wskazówkę" %><br/>
    	<%= f.text_area :tip%>
  	</p>
  	<p>
   	 <%= f.submit 'Wrzucaj' %>
  	</p>
<% end %>