<%= form_for [ @wish, @querry ] do |f| %>
  <div class="form-group">
    <%= f.text_field :question, placeholder: "Dodaj pytanie", class:'form-control' %>
  </div>	  
  	<div class="form-group">
   	 <%= f.text_field :answer, placeholder: "Twoja odpowiedź", class:'form-control' %>
	</div>

	<div class="form-group">
    	<%= f.text_field :tip, placeholder: "Zostaw Mikołajowi wskazówkę", class:'form-control' %>
  	</div>
</br>
  	<div class="form-group">
   	 <%= f.submit 'Wrzucaj', class: 'btn btn-danger btn-sm' %>
  	</div>
<% end %>