
<%= form_for [ @wish, @querry ] do |f| %>
  <div clas="form-group">
    <%= f.label :question, "Dodaj pytanie" %><br/>
    <%= f.text_field :question, class:'form-control' %>
  </div>	  
  	<div clas="form-group">
   	 <%= f.label :answer, "Twoja odpowiedź" %><br/>
   	 <%= f.text_field :answer, class:'form-control' %>
	</div>

	<div clas="form-group">
   	 <%= f.label :tip, "Zostaw Mikołajowi wskazówkę" %><br/>
    	<%= f.text_field :tip, class:'form-control' %>
  	</div>
</br>
  	<div clas="form-group">
   	 <%= f.submit 'Wrzucaj', class: 'btn btn-danger btn-sm' %>
  	</div>
<% end %>